/*  Style de la fenêtre */
.fenetreModale {
    border: none;
    border-radius: 10px;
    padding: 0;
    width: 630px;
    height: 688px;
    position: absolute;
    top: 601px;
    left: 33%;
    margin: 0;
}

    .fenetreModale h1 {
        font-family: "work sans";
        color: var(--vert_olive);
        font-size: 26px;
        font-weight: 400;
        margin-top: 10px;
    }

    .fenetreModale::backdrop {
        background-color: rgba(0, 0, 0, 0.30);
    }

dialog input[type="submit"] {
    width: 237px;
    margin: 0;
}

dialog input[disabled="true"] {
    background-color: #A7A7A7;
}

.limiteTaille {
    font-size: 10px;
}

.menu {
    display: flex;
    margin: 26px 30px 10px 30px;
    justify-content: space-between;
}

#fermeture, #retour {
    cursor: pointer;
}

/* Style de la partie dynamique de la fenêtre */
.contenuFenetre {
    display: flex;
    flex-wrap: wrap;
    margin: 46px 95px;
    overflow: scroll;
    gap: 27px 7.5px;
    width: 450px;
}

    .contenuFenetre > figure {
        position: relative;
    }

    .contenuFenetre form {
        margin-top: 0px;
        width: 100%;
        align-items: center;
    }

    .contenuFenetre input, .contenuFenetre select {
        width: 420px;
        font-size: 14px;
        padding: 0;
        margin-top: -8px;
    }

.iconeEffacer > img {
    width: 9px;
    height: 11px;
}

.labelTexteAjout {
    margin: 0px 0 -7px 0;
    padding: 1px 0;
}

#textesAjout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    row-gap: 18px;
}

.miniatures {
    width: 78px;
    height: 103px;
}

.iconeEffacer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
}

.imgIconeEffacer {
    width: 9px;
    height: 11px;
}

#btnNouvProj {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBD6DC;
    color: #306685;
    border-radius: 50px;
    width: 173px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
}

#chargerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 3px;
    background-color: #E8F1F6;
    color: #444;
    width: 420px;
    height: 169px;
    row-gap: 7px;
}

.imageSelectionnee {
    margin-top: -5px;
}

.iconeImage {
    padding-top: 13px;
}

.photoSelectionnee {
    width: 129px;
}

input[type="file"] {
    display: none;
}

/* bas de boîte de dialogue */
.piedModale {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 45px;
    gap: 38px;
    width: 100%;
    justify-content: space-between;
}

    .piedModale hr {
        width: 420px;
        margin: 0 105px;
    }
